h2 {
    font-size: 44px;
}

input {
    autocomplete: 'off';
}

body {
}

.jumbotron {
    font-size: 18px;
}

.container {
    max-width: 900px;
}


#results {
    font-size: 12px;
}

pre.condensed {
    font-size: 12px;
}