#ball {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 100px;

    background: red;
    opacity: 0.75;
}

body {
    background-color: #111;
}